
/* Style général de la page */
.zina {
  padding: 2rem;
  background-color: #E5E1DA;
  font-family: 'Arial', sans-serif;
}

.title {
  text-align: center;
  font-size: 5.2rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 1.5rem;
  font-family: 'Caveat', cursive; /* Ajout de la police */
}


/* Section Cards */
.cards {
  background: #E5E1DA;
  border-radius: 10px;
  /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);*/
  padding: 2rem;
}

/* Boutons */
.oussa {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.oussa:hover {
  background-color: #45a049;
}

.buR {
  background-color: #007BFF;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 0.5rem;
  transition: background-color 0.3s ease;
}

.buR:hover {
  background-color: #0056b3;
}

/* Champ de recherche */
.iptR {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
  margin-left: 1rem;
}

/* Table */
/*.tablee {*/
/*  width: 100%;*/
/*  border-collapse: collapse;*/
/*  margin-top: 1.5rem;*/
/*  font-size: 1rem;*/
/*}*/

/*.tablee thead th {*/
/*  background-color: #b7c7e1;*/
/*  color: white;*/
/*  padding: 12px 15px;*/
/*  text-align: left;*/
/*  font-weight: bold;*/
/*}*/

/*.tablee tbody td {*/
/*  padding: 10px 15px;*/
/*  border-bottom: 1px solid #ddd;*/
/*}*/

/*.tablee tbody tr:nth-child(even) {*/
/*  background-color: #f9f9f9;*/
/*}*/


/* Styles pour le tableau */
.tablee {
  width: 100%;
  border-collapse: collapse;
  width: 100%;
  margin-top: 1.5rem;
  font-size: 1rem;
}

.tablee th, .tablee td {
  border: 1px solid #365486; /* Couleur de la bordure du tableau */
  padding: 10px;
  text-align: center;
}

/* Styles pour les lignes impaires du tableau */
.tablee tbody tr:nth-child(odd) {
  background-color: #d3dcef;
}

/* Styles pour les lignes paires du tableau */
.tablee tbody tr:nth-child(even) {
  background-color: #b7c7e1;
}



/* Boutons dans le tableau */
.btn {
  font-size: 0.9rem;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-success {
  background-color: #28a745;
  color: white;
}

.btn-success:hover {
  background-color: #218838;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
}

.btn-danger:hover {
  background-color: #c82333;
}

/* Responsive Design */
@media (max-width: 768px) {
  .tablee {
    font-size: 0.9rem;
  }

  .iptR {
    width: 100%;
    margin: 10px 0;
  }

  .oussa, .buR {
    width: 100%;
    margin: 5px 0;
  }

  .zina {
    padding: 1rem;
  }
}


