<header>
  <nav class="p-3">
    <ul class="nav nav-pills">
      <div class="logo">
        <a href="/home">NiaStore</a>
      </div>
      <li *ngFor="let action of actions">
        <button
          (click)="SetCurrentAction(action)"
          routerLink="{{action.route}}"
          [class]=" action==currentAction ? 'custom-btn' : 'btn btn-outline-success ms-1'"
        >
          {{action.title}}
          <i class="bi bi-{{action.icon}}"></i>
        </button>

      </li>

    </ul>
  </nav>
</header>

  <router-outlet>

  </router-outlet>


<footer	 class="footer">
  <p class="footer-title">NiaStore &copy; 2024 | Copyrights  <span>OussamaTouijer</span></p>
  <div class="social-icons">
    <a href="https://www.instagram.com/oussama_touijer/" target="blink"><i class="fab fa-instagram"></i>  </a>
  </div>
</footer>
