<style>

</style>

<!--<header>-->
<!--  <nav class="p-3">-->
<!--    <ul class="nav nav-pills">-->
<!--      <div class="logo">-->
<!--        <a href="/home">NiaStore</a>-->
<!--      </div>-->
<!--      <li *ngFor="let action of actions">-->
<!--        <button-->
<!--          (click)="SetCurrentAction(action)"-->
<!--          routerLink="{{action.route}}"-->
<!--          [class]="action == currentAction ? 'custom-btn' : 'btn btn-outline-success ms-1'"-->
<!--        >-->
<!--          {{action.title}}-->
<!--          <i class="bi bi-{{action.icon}}"></i>-->
<!--        </button>-->
<!--      </li>-->

<!--    <div class="dfy">-->
<!--      <li class="nav-item dropdown">-->

<!--       &lt;!&ndash; <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--          <span *ngIf="profile; else not_logged_in">-->
<!--            {{profile.username}}-->
<!--          </span>-->
<!--          <ng-template #not_logged_in>-->
<!--            Not Logged-->
<!--          </ng-template>-->
<!--        </a>-->

<!--        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--          <li><a class="dropdown-item" (click)="login()">Login</a></li>-->
<!--          <li><a class="dropdown-item" (click)="logout()">Logout</a></li>-->
<!--        </ul>-->
<!--        &ndash;&gt;-->

<!--      </li>-->
<!--    </div>-->
<!--    </ul>-->
<!--  </nav>-->
<!--</header>-->


<app-header></app-header>

<router-outlet></router-outlet>

<app-footer></app-footer>

<!--<footer class="footer">-->
<!--  <p class="footer-title">NiaStore &copy; 2024 | Copyrights <span>OussamaTouijer</span></p>-->
<!--  <div class="social-icons">-->
<!--    <a href="https://www.instagram.com/oussama_touijer/" target="blink"><i class="fab fa-instagram"></i></a>-->
<!--  </div>-->
<!--</footer>-->





