.zina {
  background-color: #E5E1DA; /* Choisissez votre couleur de fond ici */
}

/* Styles pour le titre de la section */
.title {
  display: flex;
  justify-content: center;
  color: #000000;
  font-size: 3.8rem;
  font-weight: 800;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Caveat', cursive; /* Ajout de la police */

}

/* Styles pour le conteneur des cartes */
.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 34px;

}

/* Styles pour chaque carte */
.carde {
  background-color: #E5E1DFFF;
  width: 430px;
  height: 460px;
  box-shadow: 1px 5px 25px #B3C8CF;
  border-radius: 10px;
  padding-top: 7%;
  margin: 15px;
}

.carde:hover {
  transform: scale(1.01);
}

/* Styles pour l'icône de chaque carte */
.icon {
  color: #ffffff;
  font-size: 172px;
  text-align: center;
}

/* Styles pour les informations de chaque carte */
.info {
  color: #000000;
  text-align: center;
  font-family: 'Caveat', cursive; /* Ajout de la police */
  font-size: 25px;
  padding: 19px;

}

.info h3 {
  color: #8f8d8d;
  font-size: 43px;
  font-weight: 700;
  margin: 10px;
  font-family: 'Caveat', cursive; /* Ajout de la police */

}

/* Styles pour la carte principale (Home Component) */
.cardz {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardz-body {
  padding: 20px;
}

.cardz h3 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.nub{
  font-size: 30px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(127, 199, 217, 0.8);
  color: #365486;
}
