<div class="zina">
<!--  <br>-->
<!--  <br>-->
<!--  <br>-->
<!--  <br>-->
<!--  <br><br><br><br><br>-->

  <!-- Section des cartes de service -->
  <br>
  <br>
  <section class="cards" id="services">

    <!-- Titre de la section -->
    <h2 class="title">Regardez les chiffres </h2>

    <!-- Contenu des cartes -->
    <div class="content">

      <!-- Première carte -->
      <div class="carde">
        <div class="icon">
          <i class="fa fa-shopping-basket" aria-hidden="true"></i>
        </div>
        <div class="info">
          <h3>Produits</h3>
          <p>Le nombre Total des Produits</p>
          <button class="nub" routerLink="/produits">{{nbrProduits}}</button>
        </div>
      </div>

      <!-- Deuxième carte -->
      <div class="carde">
        <div class="icon">
          <i class="fa fa-users" aria-hidden="true"></i>
        </div>
        <div class="info">
          <h3>Acheteurs</h3>
          <p>Le nombre total des Acheteurs</p>
          <button class="nub" routerLink="/acheteurs">{{nbrAcheteurs}}</button>
        </div>
      </div>

      <!-- Troisième carte -->
      <div class="carde">
        <div class="icon">
          <i class="fa fa-cart-plus" aria-hidden="true"></i>
        </div>
        <div class="info">
          <h3>Ventes</h3>
          <p>Le nombre total des Ventes</p>
          <button class="nub" routerLink="/ventes">{{nbrVentes}}</button>
        </div>
      </div>

    </div>

  </section>
<!--  <br>-->
<!--  <br>-->
<!--  <br>-->
<!--  <br>-->
<!--  <br>-->
<!--  <br>-->
<!--  <br>-->
<!--  <br>-->
<!--  <br>-->
<!--  <br>-->
<!--  <br> <br>-->
<!--  <br>-->

</div>
